body {
	background-color: #000;
	color: #0f0;
}

#body {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

.navigation {
	height: auto;
}

#terminal {
	flex: 1;
	font-family: monospace;
	background-color: #000;
	color: #0f0;
	border: 1px solid #040;
	outline: none;
	width: 100%;
	resize: none;
}

.input {
	display: flex;
	flex-flow: row;
}

.prompt {
	padding-right: 0.5em;
}

#input {
	flex: 1;
	font-family: monospace;
	background-color: #000;
	color: #0f0;
	border: 1px solid #040;
	outline: none;
}

#target {
	font-family: monospace;
}