html, body {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#files {
	cursor: hand;
}

#content {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
}

li.current {
	font-weight: bold;
}

li.modified {
	color: red;
}

#editor {
	margin: 0;
	padding: 0;
	flex-grow: 1;
	height: 100%;
	font-size: 12pt;
}

#errors {
	display: none;
	font-family: monospace;
	white-space: pre;
	background-color: #000;
	color: #f88;
	padding: 1em;
	border: 2px solid #f00;
}
